.square {

    width: calc(100vw / 25);
    height: calc(100vw / 25);
    margin: 1px;
    text-align: center;
    position: relative;

    &_text {
      position: absolute;
      top: 1.5vw;
      left: 1.6vw;
      color: #212121;
    }
}

@media screen and (min-width: 340px) and (max-width: 430px) {
  .square {
    width: calc(100vw / 28);
    height: calc(100vw / 28);

    &_text {
      top: 1vw;
      left: 1.5vw;
      font-size: 0.5em;
    }
  }
}

@media screen and (min-width: 430px) and (max-width: 630px) {
  .square {
    width: calc(100vw / 27);
    height: calc(100vw / 27);

    &_text {
      top: 0.5vw;
      left: 1.2vw;
      font-size: 0.7em;
    }
  }
}

@media screen and (min-width: 630px) and (max-width: 700px) {
  .square {
    width: calc(100vw / 28);
    height: calc(100vw / 28);

    &_text {
      top: 0.5vw;
      left: 1.2vw;
      font-size: 0.8em;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 2000px) {
  .square {
    width: calc(100vw / 26);
    height: calc(100vw / 26);
  }
}
