.App {
  width: 100%;

  &_palette {
    display: flex;
    width: 50%;
    margin: 10vh auto;
    text-align: center;
    justify-content: space-around;
  }

  &_tiles {
    margin: 10vh 0;
    text-align: center;
  }

  &_header {
    display: flex;
    justify-content: center;

    &_title {
      color: #212121;
      font-size: 4.2em;
      letter-spacing: 0.1em;
    }
  }
}
